.text-red{
    color: #D81E05;
}
.bg-red{
    background-color: #D81E05;
}
.bg-custom{
    background-color: rgba(216, 30, 5, 0.04);
}

.nav-list{
    margin: 0;
    padding: 0;
}

.nav-link{
    margin: 0 1rem 0 0;
    padding: 0.4rem 0 0.4rem!important;
    cursor: pointer;
}
.active{
    border-bottom: 2px solid #D81E05;
}
.nav-link:hover{
    border-bottom: 1px solid rgba(128, 128, 128, 0.65);
}